<div  fxLayout="column" fxLayoutAlign="center center" fxFill>
  <mat-card  style="width: 250px;height: 250px ; border-radius: 10px ">
    <div>
    <form fxLayout="column" fxLayoutAlign="center space-evenly" fxLayoutGap="3"  [formGroup]="form">
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username">
        <mat-error>Required Field</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Password" formControlName="password">
        <mat-error>Required Field</mat-error>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" style="align-self: flex-end">Login</button>
    </form>
    </div>
  </mat-card>
</div>
