/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #FC354C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
header,footer
{
  background: black;
}
.list
{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  margin: 10px;
  list-style: none;
}
.list-item
{
  display: flex;
  width:auto;
  flex-wrap: wrap;
  border: 2px solid white;
  border-radius: 20px;
  padding: 5px;

}
li:hover ,
li:active
{
  color: yellow;
  cursor: pointer;
  border: 2px solid yellow;
}
.image
{
  bottom: 30%;
  width: auto;
  height: 50%;
  margin-left: 5px;
  alignment: left;
  left: 0%;
}
.card-header {
  position: fixed;
  top: 30%;
  left:40%
}
.card
{
  display: flex;
  align-items: center;
  justify-content:center;
}
mat-step.label
{

  font-family: "Arial Black";
}
.mat-horizontal-stepper-header
{
  pointer-events: none !important;
}

